.badge {
	background-color: tomato;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 600;
	font-size: 14px;
}

.badge-sm {
  background-color: tomato;
	width: 6px;
	height: 6px;
	border-radius: 3px;
  position: absolute;
  right: -4px;
  top: -6px;
}

.badge-alarm i {
	color: tomato;
	position: absolute;
	right: -19px;
	bottom: 0px;
}